<ion-content id="main-content" fullscreen="true" color="light">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
      <ion-title size="large" class="ion-text-center">Registrar Asistencia</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-col size="6" size-md="4" class="ion-text-center">
  <ion-img src="assets/icon/leerQr.png" style="max-width: 300px; margin: 20px auto;"></ion-img>
</ion-col>

<div class="ion-text-center" style="padding: 0 20px;">
  <p style="margin: 20px 0;">Para registrar tu asistencia, haz clic en el botón "Escanear" y escanea el código QR que te presenta tu profesor.</p>
  <ion-button shape="round" (click)="escanear()" class="custom-button">Escanear Qr</ion-button>
</div>



